html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("image/pexels-james-wheeler-1571442.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.container {
  text-align: center;
  cursor: pointer;
}

.timer {
  margin-top: 200px;
  display: flex;
  column-gap: 100px;
  text-align: center;
}
h1 {
  margin-top: 100px;
  font-size: 50px;
}
.event {
  color: darkred;
}

p {
  font-weight: 700;
}

.number {
  font-size: 3rem;
  font-weight: 900;
}
#date {
  padding: 10px;
  background-color: rgb(102, 99, 99);
  color: white;
}
#ocassion {
  padding: 10px;
  font-size: 18px;
  width: 350px;
  border-radius: 5px;
}

.btn {
  padding: 10px;
  background-image: linear-gradient(to right, rgb(121, 121, 16),purple, rgb(104, 104, 222));
  color: white;
  border-radius: 20px;
}

@media screen and (max-width: 699px) {
  .timer {
    flex-wrap: wrap;
  }
  .container {
    padding-left: 10%;
    padding-right: 10%;
  }
}